<div class="portfolios pink">
  <%= link_to 'http://www.beach-please.me/', target: :_blank  do %>
  <h3>BeachPlease</h3>
  <% end %>
  <p>BeachPlease is a platform where French volley ball players can sign up for tournaments. <br> This website has been created to cope with the existing platform.</p>
  <div class="portofolio-photos">
    <img src="<%= image_path "Img portfolio BM Home.png" %>" alt="" class="portolio-photo">
    <img src="<%= image_path "Img portfolio BM index.png" %>" alt="" class="portolio-photo hide">
    <img src="<%= image_path "Img portfolio BM show.png" %>" alt="" class="portolio-photo hide">
  </div>
</div>

<div class="portfolios">
  <%= link_to 'https://airtournguide.herokuapp.com/', target: :_blank  do %>
  <h3>AirTournGuide</h3>
  <% end %>
  <p>AirTournGuide is a platform where tourists can book tours in different cities, proposed by locals. <br> A brand new way to discover a city!</p>
  <div class="portofolio-photos">
    <img src="<%= image_path "Img portfolio ATG home.png" %>" alt="" class="portolio-photo">
    <img src="<%= image_path "Img portfolio ATG index.png" %>" alt="" class="portolio-photo hide">
    <img src="<%= image_path "Img portfolio ATG show.png" %>" alt="" class="portolio-photo hide">
  </div>
</div>

