<!-- Card 7 -->
<div class="card-category">
  <button type="button" class="btn btn-perso" data-toggle="modal" data-target="#myModal-wagon">
    <div class="card-content">
      <img src="<%= image_path "Le-Wagon.png" %>" alt="">
    </div>
  </button>
  <%= render 'pages/modal-wagon' %>
</div>
<!-- Card 6 -->
<div class="card-category">
  <button type="button" class="btn btn-perso" data-toggle="modal" data-target="#myModal-prada">
    <div class="card-content">
      <img src="<%= image_path "Prada.png" %>" alt="">
    </div>
  </button>
  <%= render 'pages/modal-prada' %>
</div>

<!-- Card 5 -->
<div class="card-category">
  <button type="button" class="btn btn-perso" data-toggle="modal" data-target="#myModal-sg">
    <div class="card-content">
      <img src="<%= image_path "Saint-Gobain.png" %>" alt="">
    </div>
  </button>
  <%= render 'pages/modal-sg' %>
</div>

<!-- Card 4 -->
<div class="card-category">
  <button type="button" class="btn btn-perso" data-toggle="modal" data-target="#myModal-twim">
    <div class="card-content">
      <img src="<%= image_path "Twim.png" %>" alt="">
    </div>
  </button>
  <%= render 'pages/modal-twim' %>
</div>

<!-- Card 3 -->
<div class="card-category">
  <button type="button" class="btn btn-perso" data-toggle="modal" data-target="#myModal-jp">
    <div class="card-content">
      <img src="<%= image_path "Jenny-Packham.png" %>" alt="">
    </div>
  </button>
  <%= render 'pages/modal-jp' %>
</div>

<!-- Card 2 -->
<div class="card-category">
  <button type="button" class="btn btn-perso" data-toggle="modal" data-target="#myModal-ps">
    <div class="card-content">
      <img src="<%= image_path "Petites-Soeurs.png" %>" alt="" class='img-lg'>
    </div>
  </button>
  <%= render 'pages/modal-ps' %>
</div>

<!-- Card 1 -->
<div class="card-category">
  <button type="button" class="btn btn-perso" data-toggle="modal" data-target="#myModal-pk">
    <div class="card-content">
      <img src="<%= image_path "Paule-Ka.png" %>" alt="">
    </div>
  </button>
  <%= render 'pages/modal-pk' %>
</div>
