<div class="container">
  <div class="cv">
    <div class="picture">
      <%= image_tag 'Marine Sourin.jpg', class: 'avatar'%>
    </div>

    <div class="experiences">
      <h2>Experiences</h2>
      <div class="experience">
        <%= render 'pages/cards-exp' %>
      </div>
    </div>
  </div>
  <div class="educations">
    <h2>Education</h2>
    <div class="education">
      <%= render 'pages/cards-edu' %>
    </div>
  </div>
  <div class="tools">
    <h2>Tools</h2>
    <div class="tool">
      <%= render 'pages/tools' %>
    </div>
  </div>
  <div class="languages">
    <h2>Languages</h2>
    <div class="language">
      <%= render 'pages/languages' %>
    </div>
  </div>
</div>
